
<!DOCTYPE html>
<html>
<head>
<title>My-tour bootstrap Design website | Home :: w3layouts</title>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href="/abc/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="/abc/css/stylex.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--js--> 
<script src="/abc/js/jquery.min.js"></script>

<!--/js-->
<!--animated-css-->
<link href="/abc/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/abc/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!--/animated-css-->
</head>
<body>
<!--header-->
<!--sticky-->
	 <div class="header-top">
		 <!--container-->
		  <div class="container">
			 <div class="top-nav">
						<div class="logo">
						<a href="#"><img src="/abc/images/logo.png" id="section-1" class="img-responsive" alt=""/></a>
						</div>
						<div class="menu">
						<ul id="nav">
							 <li><a href="/userhome">Home</a></li>
							 <li><a href="/userhome/profile">Profile</a></li>
							 <li><a href="/userhome/mywhislist">My Whislist</a></li>
							 
							 <li><a href="/logout">logout</a></li>
							
							 <div class="clearfix"></div>
						 </ul>
						 </div>
			 </div>
			  <div class="clearfix"> </div>
			

		 </div>
		 <!--/container-->
	 </div>
<!--/sticky-->
<!---banner--->
<!----start-slider-script---->
			<script src="/abc/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!----//End-slider-script---->
			<!-- Slideshow 4 -->
			<div id="section-1" class="section">
			    <div id="top" class="callbacks_container">
			      <ul class="rslides" id="slider4">
			        <li>
			          <img src="/abc/images/banner.png" alt="">
					  <div class="caption">
			     	  		<div class="header-info">
							<h2><a href="#">Get Away On This Weekend</a></h2>
							<lable></lable>
							<h1><a href="#">HEAVEN BEACH RESORT</a></h1>
							</div>
			          </div>
			        </li>
			        <li>
			          <img src="/abc/images/beach2.jpg" alt="">
			        <div class="caption">
			          	<div class="header-info">
							<h2><a href="#">Get Away On This Weekend</a></h2>
							<lable></lable>
							<h1><a href="#">HEAVEN BEACH RESORT</a></h1>
							</div>
			          </div>
			        </li>
			        <li>
			          <img src="/abc/images/beach3.jpg" alt="">
			          <div class="caption">
			          	<div class="header-info">
							<h2><a href="#">Get Away On This Weekend</a></h2>
							<lable></lable>
							<h1><a href="#">HEAVEN BEACH RESORT</a></h1>
							</div>
			          </div>
			        </li>
					<li>
			          <img src="/abc/images/beach4.jpg" alt="">
			          <div class="caption">
			          	<div class="header-info">
							<h2><a href="#">Get Away On This Weekend</a></h2>
							<lable></lable>
							<h1><a href="#">HEAVEN BEACH RESORT</a></h1>
							</div>
			          </div>
			        </li>
			      </ul>
			    </div>	         
			    <div class="clearfix"> </div>
				</div>
		<!----- //End-slider---->
<!---banner--->	
<!--About-->
     <div class="about section" id="section-2">
	  <div class="about-head text-center">
	  <h3>ABOUT US</h3>
	  <span></span><img src="abc/images/about-img.png" alt=""><span></span>
	  </div>
	   <div class="container">		  
		 <div class="col-md-4 about-grids">
			 <h4><span class="icon1"></span>Best Destinations</h4>
			 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
			 doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
		 </div>
		 <div class="col-md-4 about-grids grid2">
			 <h4><span class="icon2"></span>Trust & Safety</h4>
			 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
			 doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
		 </div>
		 <div class="col-md-4 about-grids">
			 <h4><span class="icon3"></span>Combine & Save</h4>
			 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
			 doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
		 </div>
	 </div>
</div>
<!--/About-->
<!--top-tours-->	
<div  class="section" id="section-3">
<div id="portfolio" class="portfolio">
   <div class="top-tours-head text-center">
		  <h3>TOP TOURS</h3>
		  <span></span><img src="/abc/images/star.png" alt=""><span></span>
		  <div class="container">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  </div>
		  </div>
	      <ul id="filters" class="clearfix wow bounceIn" data-wow-delay="0.4s">
			<% 
			blog.forEach(function(pst){ %>
			<li><span class="filter active" data-filter="app card icon logo fun">ALL</span></li>
			<li><span class="filter" data-filter="app"><%= pst.category %></span></li>
			<input type="hidden" name="category" value="<%= pst.category %>">
		
			<% 
				
		}); 
	 
	 %>				
		

			</ul>
			



 
				 	<% 
			blog.forEach(function(pst){ %>
	     <div id="portfoliolist">
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper wow bounceIn" data-wow-delay="0.4s">		
							
						     <img src="/abc/images/t1.jpg" class="img-responsive" alt=""/></a>
							<div class="tour-caption">
							<span> </span>
							<a href="" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim"></a>
							<p><%= pst.placename %></p>
							<a href="/userhome/mywhislist/add/<%= pst.placename %>" class="btn btn-md btn-primary">Add to Whislist</a>
							</div>

						</div>
					</div>		
				 <% 
				
					}); 
				 
				 %>		
					
				 
		 
</div>
</div>  
<!-- Script for gallery Here-->
<script type="text/javascript" src="/abc/js/jquery.mixitup.min.js"></script>
<script type="text/javascript">
	$(function () {
		var filterList = {
		init: function () {
// MixItUp plugin
// http://mixitup.io
				$('#portfoliolist').mixitup({
					targetSelector: '.portfolio',
					filterSelector: '.filter',
					effects: ['fade'],
					easing: 'snap',
				// call the hover effect
				onMixEnd: filterList.hoverEffect()
	});				
},
		hoverEffect: function () {
// Simple parallax effect
		$('#portfoliolist .portfolio').hover(
			function () {
			$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
			$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
			},
					function () {
						$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
						$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
			}		
		);				
	}
};
// Run the show!
		filterList.init();
	});	
</script>
<!--Gallery Script Ends-->	 
<!--/top-tours-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	  <div class="container">
		<!-- requried-jsfiles-for owl -->
				<link href="css/owl.carousel.css" rel="stylesheet">
							    <script src="js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
			<!-- //requried-jsfiles-for owl -->
		 

<div class="fotter">	
	 <div class="container">
		 <div class="fotter-grids">
			 <div class="col-md-4 fotter-left">
			 <img src="images/fotter-logo.png" alt="">
			 <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
				sed quia consequuntur magni dolores eos qui ratione.</p>
			 </div>
			 <div class="col-md-4 fotter-middle">
				 <h3>Latest News</h3>
				 <div class="footer-list">
						<ul>
						<li><a href="#"><span></span>Sed ut perspiciatis unde omnis iste natus.</a></li> 
						<li><a href="#"><span></span>Voluptatem accusantium.</a></li> 
						<li><a href="#"><span></span>Totam rem aperiam,eaque ipsa quae.</a></li> 
						<li><a href="#"><span></span>Inventore veritatis et quae.</a></li> 
						<li><a href="#"><span></span>Nemo enim ipsum voluptatem quia voluptas.</a></li>
						</ul>
				 </div>
			 </div>
			 <div class="col-md-4 fotter-right">
			 <h3>Newsletter</h3>
			 <form>
			 <input type="text" class="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your mail';}">
			 <input type="submit" value="Send">
			 <div class="clearfix"></div>
			 </form>
			 <div class="social-icons">
			 <a href="#"><span class="facebook"> </span></a>
			 <a href="#"><span class="twitter"> </span></a>
			 <a href="#"><span class="googleplus"> </span></a>
			 <a href="#"><span class="pinterest"> </span></a>
			 <a href="#"><span class="instagram"> </span></a>
			 </div>
			 <div class="clearfix"></div>
	     </div>
		 <div class="clearfix"></div>
	 </div>
</div>
</div>  
<div class="copyright text-center">
<p>Template by <b>Badhon Ghosh</b></p>
</div>
  <script src="/abc/js/jquery.scrollTo.js"></script>
	<script src="/abc/js/jquery.nav.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#nav').onePageNav({
			begin: function() {
			console.log('start')
			},
			end: function() {
			console.log('stop')
			}
		});
	});
	</script>
  
</body>
</html>